<mat-toolbar color="primary">
  <mat-toolbar-row class="header-menu">
    <span>User Hub</span>
    <span class="spacer"></span>

    <ng-container *ngIf="isAuthenticated$ | async">
      <button mat-button [matMenuTriggerFor]="UserMenu">Users</button>
      <mat-menu #UserMenu="matMenu">
        <button mat-menu-item [routerLink]="'/users'">User List</button>
        <button mat-menu-item [routerLink]="'/users/add'">Add User</button>
      </mat-menu>

      <button mat-button [routerLink]="'/users/report'">Report</button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/users/profile'">Profile</button>
        <button mat-menu-item (click)="logOut()">Logout</button>
      </mat-menu>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
