/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

mat-toolbar {
  height: 64px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.content {
  min-height: calc(100vh - 168px);
  margin-bottom: 48px;
}

// login page
app-login {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.login-box {
  mat-card {
    padding: 5rem;
  }
}

.container {
  padding-top: 2rem;
  & .mat-divider {
    margin-bottom: 2rem;
  }
}

.user-table-img,
.user-profile-img {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 50px;
}
// container
main {
  padding: 0px 4rem;
}
.filter-container {
  display: flex;
  justify-content: space-between;
}

.action-button {
  padding-bottom: 2rem;
}
